[Unit]
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE
Description=Waybar status bar
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/waybar
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
