window {
  background-color: rgba(37, 38, 48, 0.40);
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,0.07);
  box-shadow: 0 10px 30px rgba(0,0,0,0.8);
}
button { border-radius: 12px; background: transparent; }
button:hover { background-color: rgba(184, 144, 243, 0.95); }
